@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    /* margin: 100px;
    padding: 50px;
    margin-top: 0px;
    padding-top: 0px; */
    font-family: 'Inter', sans-serif;
    padding-top: 66px;
    
}

.bg-mine{
    background-color: #E5E4E2;
}

main{
    padding-bottom: 115px;
}
@media screen and (max-width: 768px) {
    main{
        padding-bottom: 155px;
    }
    
}

#mail{
    text-decoration: underline;
}
#FH5{
    width: 100px;
    height: auto;
}

#dd{
    width: 200px;
    height: auto;
}

.home_color{
    color: #924EBF;
}

.home_bgcolor{
    background-color: #924EBF;
}

.listNoDecoration{
    list-style-type: none;
}

#HS{
    width: 200px;
    height: auto;
}
#bgc{
    background-color: lightgray;
    padding: 15px;
    margin-bottom: 0;
    padding-bottom: 5px;
}
nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #924EBF;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

h1, h2, h3 {
    margin: 10px;
    padding: 10px;
    margin-left: 0;
    padding-left: 0;
}

/* .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
} */

.carousel .carousel-item {
    max-height: 400px;
}

.img{
    height: 40px;
    width: auto;
}

li ul li{
    list-style-type: none;
}

footer{
    color: #fff;
    background-color: #924EBF;

}

@media only screen and (min-width: 768px) {
    .align-right {
    text-align: right;
}
}

@media screen and (max-width: 768px) {
    footer{
        text-align: center;
    }
    
}

#welcome {
    width: 100%;
    height: auto;
}

.nav-link {
    color: #fff;
    background-color: #924EBF;
}

.navbar-collapse .nav-link.active{
    color: #fff;
    background-color: rgb(175, 76, 242) !important;
}

.nav-link:hover, .nav-link:focus{
    color: #fff !important;
    background-color: #60337e;
}


